@{
    ViewData["Title"] = null;
}

<div class="text-center mt-5">
    <h1 class="display-4">Welcome to Khadalicioso's Diary</h1>
    <a href="/Diary/Index" class="btn btn-primary btn-lg mt-3">Start Writing</a>
</div>
